.popup__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 13px;
}

.popup__input:hover {
    border-bottom-color: #000;
}

.popup__input:focus {
    border-bottom-color: #007dff;
}

.popup__input:invalid {
    border-bottom: 1px solid #ff0000;
    margin-bottom: 0;
}
