.header__logo {
    max-height: 33px;
    margin-left: 0;
    padding-bottom: 41px;
}

@media screen and (max-width: 425px) {
    .header__logo {
        height: 24.4px;
        width: 103.7px;
        padding: 0;     
    }
}