.popup__save_invalid {
    width: 100%;
    height: 50px;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 2px;
    color: #e5e5e5;
    margin-top: 20px;
}

@media screen and (max-width: 400px) {
    .popup__save_invalid {
        font-size: 14px;
        line-height: 17px;
    }
}